<body>

{{!-- HEADER --}}
    <div class="jumbotron text-center">
    <h1 class="display-4">EAT-DA-BURGER</h1>
    <p>CREATE YOU'RE BURGER BUCKET LIST!</p>
    <hr>
</div>

{{!-- Burger GIF --}}
<div class="container">
    <div class="text-center">
        <img src="/assets/img/Burger.gif" width="300" height="300" alt="Burger Boucning">
    </div>
</div>
    
{{!-- Adding Burger Form --}}
   <div class="container">
        <div class="row">
            <div class="text-center">
                <label>ADD A BURGER TO YOU'RE BURGER BUCKET LIST HERE</label>
                <form id="create-form" class="text-center">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ADD A BURGER HERE">
                        <button class="btn bg-primary">ADD TO BUCKET LIST!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/assets/js/script.js"></script>

</body>